title: Ourson's blog
email: wildagsx@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Partage autour de mes centres d'intérêts dans l'informatique, le dev, l'agilité, l'ops ...
  Bref tout ce qu'il se fait avec un clavier et un IDE !
twitter_username: wildagsx
github_username: philippart-s
minimal_mistakes_skin: default
search: true
repository               : "philippart-s/blog"
url : "https://philippart-s.github.io"
#baseurl : "/blog"

safe: false

# Build settings
markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter_opts:
    block:
      line_numbers: true

remote_theme: mmistakes/minimal-mistakes
#theme: minimal-mistakes-jekyll

# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: Europe/Paris # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# Gestion des commentaires dans les posts
comments:
  provider: "utterances"
  utterances:
    theme: "github-light" # "github-dark"
    issue_term: "pathname"

include:
  - _pages

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

# Analytics
analytics:
  provider               : "google-universal" # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          : "UA-1509890-3"
    anonymize_ip         : true

author:
  name   : "Stéphane Philippart"
  avatar : "/assets/images/emoji-barbe.png"
  bio    : "Père, Amoureux, Geek, Dev, Agile"
  links:
    - label: "TADx"
      icon: "fas fa-fw fa-link"
      url: "https://www.tadx.fr"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/wildagsx"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/philippart-s"
    - label: "CV"
      icon: "fas fa-fw fa-fw fa-link"
      url: "https://philippart-s.github.io/online-cv/"

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/wildagsx"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/philipart-s"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
